/* mobile device styling */
@media screen and (max-width:576px) {
    .banner{
        flex-direction: column-reverse;
    }
    #bg{
        background-position: top;
    }
    .banner-content{
        text-align: center;
}
.donate-card{
    grid-template-columns: repeat(1,1fr);
    justify-items: center;
}
.our-donate{
    grid-template-columns: repeat(1,1fr);
    justify-items: center;
}
.home{
  grid-template-columns: repeat(1,1fr);
  justify-items: center;
}
.footer-session{
    text-align: center;
}

}
/* medium device styling */
@media screen and (min-width:576px) and (max-width:992px) {
    .donate-card{
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
}
.our-donate{
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
   
}
.home{
  grid-template-columns: repeat(2,1fr);
  justify-items: center;
}
    
}