@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Inter google fonts */
 .inter-google-fonts{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}
/* poppins google fonts */
.poppins-google-fonts{
  font-family: "Poppins", sans-serif;
  font-weight: 400px;
  font-style: normal;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* shared styling starts */
.all{
  margin: 0 auto;
  max-width: 698px;
  text-align: center;
}
.continer{
  max-width: 1140px;
  margin: 0 auto 120px auto;
}
.display-fles{
    display: flex;
}
.praimay-button{
    padding: 12px 16px;
    background-color: #FF5959;
    border-radius: 5px;
    color: #FFFFFF;
    border: transparent;
    font-size: 1rem;
    cursor: pointer;
    margin-right: 10px;
    position: relative;
}
/* darl-1 color */
#dark-1{
  background-color: #4F9DA6;
}
/* dark-2 color */
#dark-2{
  background-color: #FF5959;
}
/* dark-3 */
#dark-3{
  background-color: #FFF4D6;
}
.dark-4{
  color: #707070;
}
/* shared styling ends */
.header{
 background-color: #FAFAFA;
}
/* banner-continer styling starts */
#bg{
  background-image: url(../header_bg.png);
  background-repeat: no-repeat;
  background-position: bottom right;

}
.banner{
  max-width: 1440px;
  margin: 0px auto 120px auto;
  align-items: center;
  justify-content: space-between;
}
.banner *{
  margin-bottom: 20px;
}
.banner-content{
  max-width: 524px;
}
.banner-tittle{
  font-size: 4.5rem;
  font-weight: 700;
}
.banner-description{
  font-size: 18px;
}
#button{
  font-weight: 700;
}
.right{
  border: transparent;
  background-color: transparent;
  font-size: 1rem;
  font-weight: 600;
}
.banner-img{
  max-width: 490px;
}
.banner-img img{
  width: 100%;
}
/* banner-continer styling ends */
/* donate continer styling starts */
.donate-tittle{
  font-size: 3rem;
}
.donate *{
  margin-bottom: 20px;
}
.donate-description{
  max-width: 765px;
  margin: 50px auto 20px auto;
  text-align: center;
}
.donate-card{
  display: grid;
  grid-template-columns: repeat(5,1fr);
}
.card{
  width: 135px;
  height: 123px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-size: 2rem;
  margin-bottom: 50px;
}
#card{
  border: 2px solid #FF5959;
  background-color: #FFEEEE;
  color: #FF5959;
}
.other *{
  margin-bottom: 15px;
}
hr{
  border: 0.1px solid #DADADA;
}
/* donate continer styling ends */
/* donate plan session starts */
.our-donate{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
.our-card{
  width: 315px;
  margin: 50px auto;
  padding: 10px 15px;
  border-radius: 5px;
}
.our-card *{
  margin-bottom: 16px;
}
.our-donate h5{
  color: #121212;
  font-size: 1.1rem;
}
.donate-plan-tittle{
  font-size: 3rem;
}
.plan *{
  margin-bottom: 20px;
}
/* donate plan session ends */
